<!Doctype html>
<html>

<head>
    <title>File server</title>
</head>

<body>

<h1>This loads the golang file that is served by the server</h1>

<p>This file is served by io.Copy</p>
<img src="/golang.png" alt="GoLang logo">

<br>
<br>
<p>This file is served by http.ServeContent</p>
<img src="/gogogo.jpeg" alt="Go Go Go">

<br>
<br>
<p>This file is served by http.ServeFile</p>
<img src="/golangticket.png" alt="GoLang Ticketj">
</body>

</html>