<!Doctype html>
<html>

<head>
    <title>Hello from tcp server</title>
</head>

<body>

<h1>Here are request details</h1>
<p>The current time is {{.Time}}</p>
<p>The request HTTP method is {{.Method}}</p>
<p>The request URI is {{.Uri}}</p>

</body>
</html>