<!Doctype html>
<html>

<head>
    <title>Hello Variable</title>
</head>

<body>

{{$time := .}}
<h1>Hello time variable templates</h1>
<p>The current time is {{$time}}</p>
<p>I am reusing the time variable now. The current time is {{$time}}</p>

</body>
</html>