<!Doctype html>
<html>

<head>
    <title>Hello Time Keeper</title>
</head>

<body>

<h1>Hello time keeper templates</h1>
<p>The current time is {{.}}</p>
<p>The current pipelined time is {{. | fMMDDYY}}</p>

</body>
</html>